<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div>
        {% load hitcount_tags %}
        visitas: {% get_hit_count for product %}    
    </div>
    
    {{ product.title }} <br>
    {{ product.description }} <br>
    {{ product.price }} <br>
    
    {% for image in images %}
        <img src="/media/{{ image.image }}" height="42" width="42">
    {% endfor %}

    <form action="/reportar/{{ product.id }}" class="form" method="post">
        {% csrf_token %}
        {{ FormReport }}
        <button>Denunciar</button>  
    </form>
</body>
</html>