.faq .card{  
    box-shadow: none;
}
.faq {
    padding: 50px 0px;
}
.faq .title {
    margin-bottom: 30px;
}
.faq .card {
    border: none;
}
.faq .card-header {
    background-color: white;
}
.faq a {
    color: #666;
}
.faq .fas {
    color:#333;
}
