.faq .card{  
    box-shadow: none!important;
}
.faq {
    margin-top: 40px!important;
    padding: 50px 0px!important;
}
.faq .title {
    margin-bottom: 30px;
}
.faq .card {
    border: none;
}
.faq .card-header {
    background-color: white!important;
}
.faq a {
    color: #666;
}
.faq .fas {
    color:#333;
}

@media only screen and (max-width : 992px) {
    .faq {
      margin-top: 0px!important;
      padding: 80px 0px!important;
    }
    .faq-container {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .faq-container .card {
        box-shadow: none!important;
    }
  }