<div class="d-flex align-items-center section">
  <h5 class="caption pr-3">{{ title }}</h5>
  <a href="{{ url_subtitle }}" style="text-decoration:none;">{{ subtitle }}</a>
</div>
<div class="d-flex carousel-container">
  <button class="prev-button round shadow-lg disabled">
      <span class="arrow arrow-left disabled"></span>
  </button>
  <div class="scroll-photos">
    {% for product in list_product %}
      {% with product.imagesproduct_set.all|first as first_image %}
        <div class="item shadow-sm zoom mr-4">
          {% if product.whatsapp %}
            <a href="https://wa.me/{{ product.whatsapp }}?text=Hola.%20Estoy%20interesado%20por%20el%20producto%20que%20mire%20por%20Esquel%20Vende: www.google.com" class="whatsapp-link disabled shadow-sm">
              <i class="fab fa-whatsapp whatsapp disabled"></i>
            </a>
          {% endif %}
          <!--
          {% if h.product.get_favorite%}
            <button class="fav-icon shadow-sm">
              <i class="fas fa-heart" style="color: #263240"></i>
            </button>
          {% else %}
            <button class="fav-icon shadow-sm">
              <i class="far fa-heart" style="color: #263240"></i>
            </button>
          {% endif %}
          -->
          <a class="redirect-product" href="/product/{{ product.pk }}/"></a>
          <img src="/media/{{ first_image.image }}" class="item-image">
          <div class="d-flex flex-column pt-2">
            <span class="item-price">$ {{ product.price }}</span>
            <span class="item-title">{{ product.title }}</span>
          </div>
        </div>
      {% endwith %}
    {% endfor %}
  </div>
  <button class="next-button round shadow-lg disabled">
       <span class="arrow arrow-right disabled"></span>
  </button>
</div>