{% extends "base.html" %}
{% load field_tag %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}" />
{% endblock%}

{% block title %}Publicar{% endblock %}

{% block content %}
<div class="container content sheet">
  <h3 class="text-center mb-5">Contános, ¿Que vendes?</h3>
  <form method="POST" onsubmit="return sendPhotos(event)" class="post-form" enctype="multipart/form-data"> 
    {% csrf_token %}
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="form-group">
          <label for="title">Escribe un título</label>
          <small id="titleHelp" class="form-text text-muted">
           Usa palabras claves para que lo encuentren facilmente.
          </small>
          {{ form.title|add_attributes:"class:form-control form-control-size, id:check, data-maxlength:30, autocomplete:off" }}
          <small class="form-text text-muted" id="counter">Restan 30 caracteres.</small>
        </div>
      </div>
    </div>  
    <div class="row">
      <div class="col-12 col-lg-12">
        <label for="category">Elegí su categoria!</label>
        <div class="form-group">
          <div class="container-categories" id="path_category">
            <div id="d-id_category" class="div-category">
              {{ form.category|add_attributes:"onchange:categorySelector(event), size:11, class:select-category, required: true" }}
            </div>
            <div class="d-flex align-items-center">
              <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="images">Agregá fotos</label>
      <div class="scroll-photos">
        <div id="images"></div>
        <div class="input-container" title="Elige un archivo para subir">
          <div style="position: absolute; text-align: center;">
            <i class="fas fa-camera cam"></i>
            <h5 id="photos">+6 fotos</h5>
          </div>
          {{ form_images.image|add_attributes:"class:form-control-file, onchange:uploadFile(this.files); displacement(), accept: image/*, multiple:true"}}
        </div>
      </div>
    </div> 
    <div class="row">
      <div class="col-12 col-lg-9">
        <div class="form-group">
          {{ form.description.errors }}
          <label for="description">
          Descríbelo.
          Cuanta más información,
          ¡Mejor!
          </label>
          {{ form.description|add_attributes:"class:form-control form-control-size, rows:5" }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-3">
        {{ form.price.errors }}
        <label for="price">Precio</label>
        <div class="form-group">
          {{ form.price|add_attributes:"class:form-control form-control-size" }}
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <label for="condition">Condición</label>
        <fieldset class="form-group">
          <div class="form-check-inline">
            <label class="form-check-label label-contact">
              <input type="radio" class="form-check-input" value="U" name="status">Usado
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label label-contact">
              <input type="radio" class="form-check-input" value="N" name="status">Nuevo
            </label>
          </div>
        </fieldset>
      </div>
    </div>

    <hr>

    <div class="contact-content">
      <label>Datos de contacto</label>
      <div class="row m-0 pb-3">
        <div class="col-12 col-lg-12 p-4 user-contact">
          <div class="form-group row">
            <label for="contact_email" class="col-2 col-lg-1 col-form-label label-contact">Email:</label>
            <div class="col-12 col-lg-3 ">
              {{ form.contact_email|add_attributes:"class:form-control form-control-size" }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-lg-1 col-form-label label-contact">Whatsapp:</label>
            <div class="col-12 col-lg-3 ">
              {{ form.whatsapp|add_attributes:"class:form-control form-control-size, title:Se creara un enlace que permetira al comprador comenzar un chat contigo sin necesidad de tener tu numero agendado." }}
            </div>
          </div>
          <div class="form-group mb-0 row">
            <label class="col-2 col-lg-1 col-form-label label-contact">Telefono:</label>
            <div class="col-12 col-lg-3 ">
              {{ form.contact_phone|add_attributes:"class:form-control form-control-size" }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button type="submit" class="botton-publish shadow-sm p-2">Publicar</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="../static/js/publish.js"></script>
{% endblock%}
