{% load staticfiles %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/stretched_box_product.css' %}" />
{% endblock %}

{% with product.get_primary_image as first_image %}
<div class="d-flex justify-content-between item shadow-sm p-3">
    <div class="d-flex">
        {% if active %}
            <a class="redirect-product" href="{{ product.get_url }}">
                <img src="/media/{{ first_image.thumbnail }}" class="item-image">
            </a>
        {% else %}
            <img src="/media/{{ first_image.thumbnail }}" class="item-image">
        {% endif %}
        <div class="d-flex flex-column px-3">
            <span class="item-title mb-auto">{{ product.title }}</span>
            <span class="item-title mb-auto">{{ product.get_status }}</span>
            <span class="item-price">$ {{ product.price }}</span>
        </div>
    </div>
    {% if product.user == request.user %}
    <div class="d-flex flex-column">
        {% if not active %}
            {% include "../republish_product.html" %}
        {% endif %}
        <span class="m-1" style="cursor: pointer;">
            <a href="#" style="padding: 6px">
                <i class="fas fa-pen"></i> Editar
            </a>
        </span>
        {% include "../delete_product.html" %}
    </div>
    {% endif %}
</div>
{% endwith %}
