{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Registrarse{% endblock %}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login_and_signup.css' %}"> 
{% endblock%}

{% block content %} 
<div class="d-flex justify-content-center center-card bg-grad">
  <div class="card custom-card">
    <div class="container"> 
      <div class="d-flex justify-content-between pb-3">
        <span><h2>Crear cuenta</h2></span>
      </div>
      {% include "./form_signup.html" %} 
    </div>
  </div>
</div>
{% endblock %}