# Byte-compiled / optimized
__pycache__/
*.py[cod]

# Unit Test
.coverage
.coverage.*
htmlcov/

# Translations
*.mo
*.pot

# Django stuff:
*.log
db.sqlite3

# Environments
.env

# Media files
media/*

# IDE files
.vscode/
