{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Ventas - Esquel Vende{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stretched_box_product.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ajax_products.css' %}" />
{% endblock%}

{% block content %}
    <div class="container content">
        {% include "./ajax_products.html" %}
    </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/static/js/delete.js"></script>
<script type="text/javascript" src="/static/js/republish.js"></script>
<script type="text/javascript" src="/static/js/list_of_products.js"></script>
{% endblock %}