<div class="section">
  <div class="d-flex align-items-center">
    <h5 class="caption pr-3">{{ title }}</h5>
    <a href="{{ url_subtitle }}" class="none">{{ subtitle }}</a>
  </div>
  <div class="d-flex carousel-container">
    <button class="prev-button round shadow-lg disabled">
        <span class="arrow arrow-left disabled"></span>
    </button>
    <div class="scroll-photos">
      {% for product in list_product %}
        {% include "./product_box/simple_product_box.html" with product=product %}
      {% endfor %}
    </div>
    <button class="next-button round shadow-lg disabled">
         <span class="arrow arrow-right disabled"></span>
    </button>
  </div>
</div>