{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Registrarse{% endblock %}
{% block navbar %}
  {% include "simple-navbar.html" %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users.css' %}"> 
{% endblock%}

{% block content %} 

<div class="bg-grad justify-content-center">
    <div id="login" class="card justify-content-center align-self-center">
    <div class="container">

      <p class="h2 pb-5">Crea tu cuenta de<br> Esquelvende</p>

      {% include "form/form-signup.html" %}


    </div>    

  </div>
</div> 


{% endblock %}