<footer class="page-footer text-light font-small blue pt-4">
    <div class="footer-content container-fluid text-center text-md-left"> 
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4 mb-md-0 mb-4">
            <h4>Conócenos</h4>     
            <a href="/about-us/" class="inherit-color">
              <h6 class="subtext">¿Quienes somos?</h6>
            </a>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h4 class="footer-title">Contacto</h4>  
            <h6 class="subtext">esquelvende@gmail.com</h6>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h4>¿Necesitas ayuda?</h4>
            <a href="/faq/?section=1" class="inherit-color">
              <h6 class="subtext">Como vender un producto<h6>
            </a>
            <a href="/faq/?section=2" class="inherit-color">
              <h6 class="subtext">Como denunciar un producto</h6>
            </a>
            <a href="/faq/" class="inherit-color">
              <h6 class="subtext">Saber mas<h6>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-social text-light text-center py-1">
      <a href="https://www.facebook.com/EsquelVendeOficial/">
        <i class="fab fa-facebook-square"></i>
      </a>
    </div>
    <div class="footer-copyright text-center py-3">Copyright © 2019 - Esquel Vende</div>
</footer>
