{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/simple_product_box.css' %}" />
{% endblock%}

{% block carousel %}{% include "carousel.html" %}{% endblock %}

{% block content %}
<div class="container">
  {% if products %}
    {% include "carousel_products.html" with title="Ultimas publicaciones" subtitle="Ver mas" url_subtitle="#" list_product=products %}
  {% endif %}

  {% if history %}
    {% include "carousel_products.html" with title="Basado en tu historial" subtitle="Ver historial" url_subtitle="/account/history/" list_product=history %}
  {% endif %}

  {% if favorites %}
    {% include "carousel_products.html" with title="Basado en tus favoritos" subtitle="Ver favoritos" url_subtitle="/account/favorites/" list_product=favorites %}
  {% endif %}
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="../static/js/home.js"></script>
{% endblock %}
