{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/categories.css' %}" />
{% endblock %}

{% block content %}
<div class='categories container content'>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            {% for path_category in path %}
                {% if forloop.last %}
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ path_category|last }}
                    </li>
                {% else  %}
                    <li class="breadcrumb-item">
                        <a href="{% for bread in path_category %}/{{bread.slug}}{% endfor %}{% if request.GET %}?{% endif %}{{ request.GET.urlencode }}">{{ path_category|last }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-3">
            {% if request.GET.results %}
                <div class="search">
                    <h3>
                        {{ request.GET.results }}
                    </h3>
                    <p class="text-secondary">
                        {{ quantity}} resultado{% if quantity > 1%}s{%endif%}.
                    </p>
                </div>
            {% endif %}


            <!-- Insignias -->
            <div class="badges">
                {% if request.GET.brand %}
                    <button
                        onclick="genUrl(name, true)"
                        name="brand"
                        type="submit"
                        class="badge-button link-button a-blank">
                        {{request.GET.brand}} <i class="fas fa-times"></i>
                    </button>
                {% endif %}
                <br>
                {% if request.GET.type == "U" %}
                    <button
                        onclick="genUrl(name, true)"
                        name="type"
                        type="submit"
                        class="badge-button link-button a-blank">
                        Usado<i class="fas fa-times"></i>
                    </button>
                {% elif request.GET.type == "N" %}
                    <button
                        onclick="genUrl(name, true)"
                        name="type"
                        type="submit"
                        class="badge-button link-button a-blank">
                        Nuevo <i class="fas fa-times"></i>
                    </button>
                {% endif %}
            </div>
            
            <!-- Categorias -->
            <div class="field">
                {% if current_category.categories.all %}
                    <h4>Categorias</h4>
                    {% for category in current_category.categories.all %}
                        <a href="{{request.path}}/{{category.slug}}{% if request.GET %}?{% endif %}{{ request.GET.urlencode }}" class="a-blank">
                            {{ category }}<br>
                        </a>
                    {% endfor %}
                {% elif current_category.brand.all %}
                    <h4>Marcas</h4>
                    {% for brand in current_category.brand.all %}
                        <button
                            name="brand"
                            type="submit"
                            onclick="genUrl({'brand':'{{brand.slug}}'})"
                            value="{{ brand.slug }}"
                            class="button-blank">{{brand}}
                    </button>
                    {% endfor %}
                {% elif categories %}
                    <h4>Categorias</h4>
                    {% for category in categories %}
                        <a href="{{category.slug}}{% if request.GET %}?{% endif %}{{ request.GET.urlencode }}" class="a-blank">
                            {{ category }}<br>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- Condiones -->
            <div class="field">
                <h4>Condicion</h4>
                <button
                    name="status"
                    onclick="genUrl({type:'U'})"
                    value="U"
                    class="link-button a-blank">Usado
                </button>
                <button
                    name="status"
                    onclick="genUrl({type:'N'})"
                    value="N"
                    class="link-button a-blank">Nuevo
                </button>
            </div>

            <!-- Precio -->
            <form
                action="javascript:genUrl({min:this.min.value, max:this.max.value})"
                method="GET">
                <div class="field">
                    <h4>Precio</h4>
                    <div class="input-group">
                        <input
                            id="min"
                            type="number"
                            name="min"
                            value="{{request.GET.min}}"
                            class="form-control"
                            placeholder="minimo">
                        <input
                            id="max"
                            type="number"
                            name="max"
                            value="{{request.GET.max}}"
                            class="form-control"
                            placeholder="maximo">
                    </div>
                    <input type="submit" style="display:none"/>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            {% for product in products %}
                <div class="product-container">
                    {% include "./product_box/stretched_box_product.html" %}
                </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock%}

{% block javascript %}
<script>
    function genUrl(params=false, del=false) {
        // Creamos una instancia de URL.
        var url = new URL(window.location.href);
        console.log(params)
        // Si hay parametros y no los queremos borrar, los agregamos.
        if (params && !del) {
            var searchParams = new URLSearchParams(params);
            console.log(searchParams)
            for(var pair of searchParams.entries()) {
                url.searchParams.set(pair[0], pair[1]);
            }
        }
        // De lo contrario lo eliminamos de la URL.
        else if (params && del) {
            url.searchParams.delete(params);
        }
        // Redirigimos
        window.location.href = url.href;
    }
</script>
{% endblock%}
