{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/categories.css" media="screen" />
{% endblock%}

{% block content %}
<div class="container content sheet">
    <div class="row">
      {% for category in categories %}
        <div class="col-md-4 col-sm-4 col-0">
          <h5 class="title">{{ category }}</h5>
          <ul>
          {% for sub_a in category.categories.all %}
            <li>
              <a href="/{{ category.slug }}/{{ sub_a.slug }}" class="none">{{ sub_a }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endfor %}
   </div>
</div>
{% endblock%}
