{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Mis datos{% endblock %}
{% block navbar %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users.css' %}"> 
{% endblock%}


{% block content %} 

<div id="account">
  <div class="billboard-container ev-orange"></div>
  <div class="content container">
    <div class="row justify-content-center">
      <div class="card p-5">
        <div class="p-5">
          
          <div id="my-data">

{% comment %} <input type="file" name="avatar" id="id_avatar" class="avatar rounded-circle" style="background-image: url(/media/{{ user.userprofile.avatar }})">               {% endcomment %}

            {% include "form/form-edit-profile.html" %}
            
          </div> 
            
        </div>
      </div>     
    </div>
  </div>
</div> 

{% endblock %}




