{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}Login{% endblock %}
{% block navbar %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users.css' %}"> 
{% endblock%}

{% block content %} 

<div class="bg-grad justify-content-center">
  <div id="login" class="ev-white">
    <div class="container">
    <p class="">Esquelvende</p>

    <h1>Iniciar sesion</h1>
    
    {% include "form/form-login.html" %}

    <div class="row social-login">
      <div class="col-6">
        <a href="{% url 'social:begin' 'facebook' %}">
            <button type="button" class="fa fa-facebook-square btn btn-login-fb btn-raised"></button>
        </a>
      </div>
        <div class="col-6">                  
          <a href="{% url 'social:begin' 'google-oauth2' %}">
              <button type="button" class="fa fa-google btn"></button>
          </a>
        </div>
      </div>
    </div> 
  </div>
</div>
{% endblock %}