{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/favorite.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/simple_product_box.css' %}" />
{% endblock%}

{% block title %}Favoritos{% endblock %}

{% block content %}
<div class="container">
  {% if favorites %}
  <div class="d-flex align-items-center pt-3">
    <h5 class="title pr-3">Tus Favoritos</h5>
  </div>
  {% for product in favorites %}
    {% include "./product_box/simple_product_box.html" with product=product %}
  {% endfor %}
  {% else %}
  <div style="text-align: center; margin-top: 6rem">
    <h1 class="title">Aún no tienes favoritos</h1>
      <span class="subtitle">
        Aquí se mostraran tus favoritos.¡Empezá a navegar en Esquel Vende!
      </span>
    </div>
  {% endif%}
</div>
{% endblock %}
