{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/favorite.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/simple_product_box.css' %}" />
{% endblock%}

{% block title %}Favoritos{% endblock %}

{% block content %}
<div class="container content">
  {% if object_list %}
  <div class="d-flex align-items-center">
    <h5 class="title pr-3">Tus Favoritos</h5>
  </div>
  <div class="row">
    {% for product in object_list %}
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-2">
        {% include "./product_box/simple_product_box.html" with product=product %}
      </div>
    {% endfor %}
  </div>
  <!-- Incluimos el paginador -->
  {% include "pagination.html" %}
  {% else %}
  <div style="text-align: center; padding: 70px 0;">
    <h1 class="title">Aún no tienes favoritos</h1>
      <span class="subtitle">
        Aquí se mostraran tus favoritos.¡Empezá a navegar en Esquel Vende!
      </span>
    </div>
  {% endif %}
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}