/* ######################################################################## */
/*                                  Product                                 */
/* ######################################################################## */

/* Title */

.product .product-title {
  display: flex;
  /* justify-content: flex-start;  */
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 40px;
  width: 75%;
}

.product .product-title .h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product .no-description {
  font-family: 'Open Sans';
  text-transform: none;
  color: gray;
  margin-top: 30px;
  margin-bottom: 25px;
}
.product-header {
  justify-content: space-between!important;
}

@media only screen and (max-width : 992px) {
  .product .product-title .h1 {
    font-size: 20px;
  }
}

/* Images */
.product {
  margin-top: 30px!important;
  font-family: 'Roboto';
}

.product .product-card {
  padding: 40px;
}

#carousel-indicator {
  /* margin-bottom: 70px; */
}

.product .carousel-indicators {
  padding: 15px 0px;
  /* position: initial!important; */
  margin: 0px;
  justify-content: left;
  bottom: -80px;
}
.product .carousel-item {
  width: auto;
  height: 350px;
  max-height: 350px;
}

.carousel-item {
 height: 100%;
}

.product .carousel-item img {
 /* position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%) */
 object-position: center;
 object-fit: contain;
 height: 100%;
  
}
.product .indicator {
  margin-right: 10px;
}
.product .indicator:hover {
  cursor: pointer;
}
.product .carousel-indicators img.active {
  height: 50px;
  width: 50px;
}

/* Description */

.product .data {
  padding: 30px;
  background-color:#efefef;
}

.user-picture img {
  width: 55px;
  height: 55px;
  /* object-position: center;
  object-fit: cover; */
  padding: 2px 2px;
  /* align-self: flex-end; */
}

.user-name {
  text-transform: capitalize;
  padding: 0px 8px;
}

.price {
  font-weight: bold;
}

.product .whatsapp-link {
  color:#1EAE54;
}

.product .data {
  font-size: 150%;
}
/*  */

.product .flex-seller {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin-bottom: 40px;
 
}

.product .button-favorite {
  display: contents;
}

.product .button-favorite:hover {
  cursor: pointer;
}

.product .container-product-image .carousel {
  border: solid 2px #efefef;
}

.product .data {
  height: 100%;
}

.product .container-description {
  margin-top: 100px;
  text-transform: capitalize;
}
.product .esquelvende-text {
  padding: 10px 0px;
  font-size: 14px;
  color: #666;
}

.product .data .data-item {
  margin-top: 10px; 
}

@media only screen and (max-width : 992px) {
  .product-header {
    justify-content: center!important;
    margin-bottom: 30px;
  }
  .product-header .user-picture-container {
    display: none;
  }
  .container-product-image .carousel-indicators {
    display: none;
  }
  .product .carousel {
    margin-bottom: 25px;
  }
  .product .container-description {
    margin-top: 20px;
  }
  .product .container {
    padding: 0px!important;
  }
  .product {
    font-size: 80%;
  }
  .product .data {
    height: auto;
  }
  .product .product-card {
    padding: 0px;
  }
  .product .container-description{
    padding: 10px 10px;
  }
  .product .esquelvende-text {
    font-size: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .product .row {
    margin: 0px;
  }
  .product .container-product-image, .product .container-data {
    padding: 0px;
  }

  .product .container-product-image .carousel {
    border: 0;
  }
  
  .product .product-title {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 10px;
  }

  .user-picture img {
    width: 40px;
    height: 40px;
    /* object-position: center;
    object-fit: cover; */
    padding: 2px 2px;
    /* align-self: flex-end; */
  }
  
  .user-name {
    text-transform: capitalize;
    padding: 0px 7px;
  }
  

}

/* ######################################################################## */
/*                                  Publish                                 */
/* ######################################################################## */

.label-contact {
  font-size: 14px !important;
}
.user-contact {
  background-color: #f5f5f5;
}
/* form-control es del input de django */
.form-control-size {
  font-size: 13px;
}
.select-category {
  width: 212px;
  overflow-y: auto;
  border: none;
  color: #0637b3 !important;
}
.div-category {
  border: 1px solid #ccc;
  height: 250px;
  width: 230px;
  padding: 8px;
  border-radius: 3px;
  margin-right: 4px;
}
.container-categories {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto !important;
  white-space: nowrap;
}
select:focus {
  outline: none;
}
option {
  font-size: 15px !important;
}
@media only screen and (max-width : 992px) {
  .div-category {
    width: inherit;
    padding: 20px;
    border-radius: 1px;
    margin:0 0 4px 0;
  }
  .container-categories {
    all: unset;
  }
  .select-category {
    width: 100%;
    overflow-y: auto;
    border: none;
  }
}
.botton-publish {
  border: 0px;
  color:#fff;
  background: #ED7710;
  border-radius: 1px 1px 1px 1px !important;
}
.file-loader {
  height: 120px;
  width: 120px;
}
.form-control-file[type=file] {
  width: inherit;
  height: inherit;
  font-size: 0;
  cursor: pointer;
  opacity: 0;
}
div.scroll-photos {
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.input-container {
  border: 2px solid #dddfe2;
  border-style: dashed;
  height: 120px;
  width: 120px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cam {
  font-size: 40px;
  color: #dddfe2;
  padding: 7px;
}
.input-container:hover .cam {
  color: #90949c;
}
#photos {
  color: #90949c;
  font-size: 15px;
}
#images {
  display: flex;
  height: inherit
}
.deleteImg {
  height: 20px;
  width: 20px;
  border: none;
  position: relative;
  right: 28px;
  top: 6px;
  cursor: pointer;
}
