.none:hover {
    text-decoration: none;
}
.title {
    color: #333;
}
div > ul {
    list-style: none;
    padding: 0;
}
@media only screen and (max-width : 992px) {
    .container-categories {
        text-align: left;
    }
}

.field {
    margin-bottom: 20px;
}

.link-button {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
}

.product-container {
    margin-top: 5px;
}

.badge-button {
    font-family: 'Open Sans';
    border-radius: 3px!important;
    color: rgb(138, 138, 138);
    background: white;
}

.categories .breadcrumb {
    padding-left: 0px;
}

.categories .search {
    margin-bottom: 40px;
}

.badges {
    margin-bottom: 10px;
}