<h3> {{ object.subA_name }} </h3>
{% if object.subb_set.all %} 
    {% for subb in object.subb_set.all %}
        <div>
            {% if request.GET.search  %}
                <a href="{{ request.get_path }}{{ subb.slug }}/?search={{ request.GET.search }}">
                    {{ subb }}
                </a>
            {% else %}
                <a href="{{ request.get_full_path }}{{ subb.slug }}">
                    {{ subb }}
                </a>
            {% endif %}   
        </div>
    {% endfor %}
{% elif object.brand.all %}
    {% for brand in object.brand.all %}
        <div>
            {% if request.GET.search  %}
                <a href="{{ request.get_path }}?i_b={{ brand.id }}&search={{ request.GET.search }}">
                    {{ brand }}
                </a>
            {% else %}
                <a href="{{ request.get_full_path }}?i_b={{ brand.id }}">
                    {{ brand }} 
                </a>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}

