<form method="POST" action="">
{% csrf_token %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

{% for field in form.visible_fields %}
    
    <div class="form-group m-0 mb-4 mt-2">
    {{ field }}
    
    <small id="titleHelp" class="form-text text-muted">
        {{ field.label }}
    </small>
    
    </div>

{% endfor %}

<button type="submit" value="Login" class="btn btn-block mb-4 mt-2 btn-login">INGRESAR</button>

</form>